<div class="container-md">
    <form action="/darkwebindo/api/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button class="btn btn-primary d-block" type="submit">Upload</button>    
    </form>
</div>
